<p-table
  [value]="data()"
  [scrollable]="true"
  scrollHeight="flex"
  [showGridlines]="true"
  [stripedRows]="true"
  sortField="websiteDatePublishedRaw"
  [sortOrder]="-1"
>
  <ng-template #header>
    <tr>
      <th pSortableColumn="websiteTitle" style="min-width: 250px">
        Title <p-sortIcon field="websiteTitle" />
      </th>
      <th pSortableColumn="websiteOrganization" style="min-width: 200px">
        Organization <p-sortIcon field="websiteOrganization" />
      </th>
      <th pSortableColumn="websiteLocation" style="min-width: 150px">
        Location <p-sortIcon field="websiteLocation" />
      </th>
      <th pSortableColumn="websiteDatePublishedRaw" style="min-width: 150px">
        Date Published <p-sortIcon field="websiteDatePublishedRaw" />
      </th>
    </tr>
  </ng-template>
  <ng-template #body let-job>
    <tr>
      <td>{{ job.websiteTitle }}</td>
      <td>{{ job.websiteOrganization }}</td>
      <td>{{ job.websiteLocation }}</td>
      <td>{{ job.websiteDatePublished }}</td>
    </tr>
  </ng-template>
  <!-- Empty Message Template (the placeholder) -->
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td colspan="4" style="text-align: center; color: #888">No job descriptions found.</td>
    </tr>
  </ng-template>
  <ng-template #summary>
    <div class="footer">Displaying {{ data().length }} of {{ data().length }} rows.</div>
  </ng-template>
</p-table>
