@let data = state();

<h2 class="title">Job Descriptions</h2>

<div class="content">
  @if (data.status === 'loading') {
    <p>Loading...</p>
  }

  @if (data.status === 'error') {
    <p>Failed to load job descriptions. Please Try Again.</p>
  }

  @if (data.status === 'done' && !hasData()) {
    <p>No Results found.</p>
  }

  @if (data.status === 'done' && hasData()) {
    <app-job-descriptions-bar-chart
      class="chart"
      [data]="monthCounts()"
      (barClicked)="monthSelected.set($event)"
    ></app-job-descriptions-bar-chart>

    @if (monthSelected() != null) {
      <app-job-descriptions-table
        class="table"
        [data]="selectedJobs()"
      ></app-job-descriptions-table>
    } @else {
      <div class="table-placeholder">
        <p>Click a bar on the chart above to view more details.</p>
      </div>
    }
  }
</div>
